body{
  background-color: rgb(198, 197, 197);
}




@media (max-width: 1980px) {
    html {
      font-size: 80%;
    } 

    #above #box0{
      display: none;
    }
}

@media (max-width: 600px){

  
  #above{
    display: flex;
    flex-direction: column;
  }

  #above #box0{
    display: block;
    width: 50%;
    height: 50%;
  }

  #above #box1{
    display: none;
  }

  #above #box2{
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 430px){
  html{
    font-size: 70%;
  }

  #above #box2{
    width: 100%;
    height: 40%;
  }
}